.plan {
  background-color: rgba(235, 233, 233, 0.658);
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
*{
    margin: 0px;
    padding: 0px;
}
.container {
  margin: 0px;
  height: 100vh;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  font-size: 13px;
  display: flex;
  flex-direction: column;
}

.plan-title {
  align-self: center;
  font-weight: bold;
}
.price {
  align-self: center;
  font-size: 30px;
  font-weight: bolder;
}

.features {
  align-self: center;
}
.plan-button {
  align-self: center;
  background-color: rgb(248, 84, 25);
  color: white;
  border-radius: 5px;
  border: 0px;
  padding: 5px 7px;
  font-size: 10px;
  margin-top: -10px;
}
.features li {
  margin-bottom: 10px;
  align-self: center;
}
